# Assignment 3

### Write a function to count the number 4 in a given list.

In [53]:
def count_4(x):
    z=0
    for i in x:
        if i==4:
            z+=1
    return z

In [54]:
x=[2,4,4,4,4,4,4,4]
count_4(x)

7

### write a  function to check whether a number is divisible by another number.

In [55]:
def check_div(num1,num2):
    if num1%num2==0:
        print(f"{num1} is divisble by {num2}")
    else:
        print(f"{num1} is not divisble by {num2}")

In [57]:
check_div(300,3)

300 is divisble by 3

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [62]:
def max_num(x):
    return max(x),min(x)

In [63]:
z=[5,9,6,4,7,5,2,4]
max_num(z)

(9, 2)

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [23]:
def Common(list1,list2):
        for i in list1:
            for y in list2:
                if i==y:
                    return True
        else: return False

In [25]:
a=list(range(1,11))
b=list(range(10,15))
Common(a,b)

True

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [64]:
def fact(x):
    if x==0:
        return 1
    else:
        return x*fact(x-1)

In [69]:
fact(5)

120

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [79]:
def Check_num(x):
    z=range(3,12)
    if x in z:
        print(f"{x} is in range")
        return x

In [82]:
Check_num(11)

11 is in range

11

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [84]:
def mult_table(x):
    print(f"{x} * 1 = {x*1}")
    print(f"{x} * 2 = {x*2}")
    print(f"{x} * 3 = {x*3}")
    print(f"{x} * 4 = {x*4}")
    print(f"{x} * 5 = {x*5}")
    print(f"{x} * 6 = {x*6}")
    print(f"{x} * 7 = {x*7}")
    print(f"{x} * 8 = {x*8}")
    print(f"{x} * 9 = {x*9}")
    print(f"{x} * 10 = {x*10}")

In [85]:
mult_table(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [125]:
def Lesser(x,y):
    if x%2==0 and y%2==0:
        if x-y>0:
            return y
        elif x-y==0:
            print(f"{x} = {y}")
        else:
            return x
    else:
        if x-y>0:
            return x
        elif x-y==0:
            print(f"{x} = {y}")
        else:
            return y

In [129]:
print(Lesser(2,5))
Lesser(2,4)

5

2

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [179]:
def Check(string):
    x=string.split()
    if x[0][0]==x[1][0]:
        return True
    else :
        return False

In [189]:
Check("Levelheaded Llama")

True

In [190]:
Check('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [130]:
def Makes_twenty(x,y):
    if x==20 or y==20:
        return True
    elif x+y==20:
        return True
    else:
        return False

In [135]:
Makes_twenty(12,8)

True

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [26]:
def almost_there(n):
    return n in range(90,111) or n in range(190,211)

In [28]:
almost_there(100)

True

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [167]:
def BLACKJACK(x,y,z):
    if x>=1 and x<=11 and y>=1 and y<=11 and z>=1 and z<=11:
        sum = x+y+z
        if sum<=21:
            return sum
        elif sum>21 and (x==11 or y==11 or z==11):
            sum=sum-10
            if sum<=21:
                return sum
        else:
            if sum>21:
                return "BUST"
    else:
        return "Not INT NOT IN RANGE"

In [170]:
BLACKJACK(5,6,7)

18

In [171]:
BLACKJACK(9,9,9)

'BUST'

In [172]:
BLACKJACK(9,9,11)

19